<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MiHoYoStarter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <MiHoYoStarter.Properties.Settings>
            <setting name="GenshinPath" serializeAs="String">
                <value />
            </setting>
            <setting name="GenshinCloudPath" serializeAs="String">
                <value />
            </setting>
            <setting name="StarRailPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DisplayGenshinEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisplayGenshinCloudEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisplayStarRailEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GenshinStartParam" serializeAs="String">
                <value />
            </setting>
            <setting name="StarRailStartParam" serializeAs="String">
                <value />
            </setting>
        </MiHoYoStarter.Properties.Settings>
    </userSettings>
</configuration>