<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MiHoYoStarter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <MiHoYoStarter.Properties.Settings>
        <setting name="GenshinPath" serializeAs="String">
            <value />
        </setting>
        <setting name="GenshinCloudPath" serializeAs="String">
            <value />
        </setting>
        <setting name="StarRailPath" serializeAs="String">
            <value />
        </setting>
        <setting name="DisplayGenshinEnabled" serializeAs="String">
            <value>True</value>
        </setting>
        <setting name="DisplayGenshinCloudEnabled" serializeAs="String">
            <value>True</value>
        </setting>
        <setting name="DisplayStarRailEnabled" serializeAs="String">
            <value>True</value>
        </setting>
        <setting name="GenshinStartParam" serializeAs="String">
            <value />
        </setting>
        <setting name="StarRailStartParam" serializeAs="String">
            <value />
        </setting>
        <setting name="HonkaiImpact3Path" serializeAs="String">
            <value />
        </setting>
        <setting name="HonkaiImpact3StartParam" serializeAs="String">
            <value />
        </setting>
        <setting name="DisplayHonkaiImpact3Enabled" serializeAs="String">
            <value>True</value>
        </setting>
        <setting name="GenshinAutoStartEnabled" serializeAs="String">
            <value>True</value>
        </setting>
        <setting name="StarRailAutoStartEnabled" serializeAs="String">
            <value>True</value>
        </setting>
        <setting name="HonkaiImpact3AutoStartEnabled" serializeAs="String">
            <value>True</value>
        </setting>
        <setting name="GenshinCloudAutoStartEnabled" serializeAs="String">
            <value>True</value>
        </setting>
        <setting name="GenshinOverseaAutoStartEnabled" serializeAs="String">
            <value>True</value>
        </setting>
        <setting name="StarRailOverseaAutoStartEnabled" serializeAs="String">
            <value>True</value>
        </setting>
        <setting name="GenshinOverseaStartParam" serializeAs="String">
            <value />
        </setting>
        <setting name="StarRailOverseaStartParam" serializeAs="String">
            <value />
        </setting>
        <setting name="DisplayGenshinOverseaEnabled" serializeAs="String">
            <value>True</value>
        </setting>
        <setting name="DisplayStarRailOverseaEnabled" serializeAs="String">
            <value>True</value>
        </setting>
        <setting name="GenshinOverseaPath" serializeAs="String">
            <value />
        </setting>
        <setting name="StarRailOverseaPath" serializeAs="String">
            <value />
        </setting>
        <setting name="ZZZPath" serializeAs="String">
            <value />
        </setting>
        <setting name="DisplayZZZEnabled" serializeAs="String">
            <value>True</value>
        </setting>
        <setting name="ZZZAutoStartEnabled" serializeAs="String">
            <value>True</value>
        </setting>
        <setting name="ZZZStartParam" serializeAs="String">
            <value />
        </setting>
        <setting name="ZZZOverseaPath" serializeAs="String">
            <value />
        </setting>
        <setting name="DisplayZZZOverseaEnabled" serializeAs="String">
            <value>True</value>
        </setting>
        <setting name="ZZZOverseaAutoStartEnabled" serializeAs="String">
            <value>True</value>
        </setting>
        <setting name="ZZZOverseaStartParam" serializeAs="String">
            <value />
        </setting>
    </MiHoYoStarter.Properties.Settings>
  </userSettings>
</configuration>